.place__image {
  width: 100%;
  background-size: cover;
  margin: 0 148px;
}

@media screen and (max-width: 1152px) {
  .place__image {
    margin: 0 48px;
  }
}

@media screen and (max-width: 896px) {
  .place__image {
    margin: 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .place__image {
    margin: 0;
  }
}