.place__image {
  width: 100%;
  background-size: cover;
  margin: 0 148px;
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .place__image {
    margin: 0 48px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .place__image {
    margin: 0 24px;
  }
}

@media (max-width: 767px) {
  .place__image {
    margin: 0;
  }
}