.content__section_sell-grid {
  padding: 0 48px;
  width: 100%;
}

@media screen and (max-width: 896px) {
  .content__section_sell-grid {
    padding: 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .content__section_sell-grid {
    padding: 0 16px;
  }
}