.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  max-width: 360px;
}

@media (max-width: 680px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
