.page__content {
  margin-top: 56px;
  margin-bottom: 92px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .page__content {
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
  .page__content {
    margin-top: 48px;
    margin-bottom: 88px;
  }
}

