.header {
  margin: 28px auto 0;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
}


@media (min-width: 321px) and (max-width: 768px) {
  .header {
    padding: 0 24px;
  }
}

@media (max-width: 320px) {
  .header {
    margin: 16px auto 0;
    padding: 0 16px;
  }
}