.content {
  display: grid;
  grid-row-gap: 92px;
}


@media (min-width: 321px) and (max-width: 768px) {
  .content {
    grid-row-gap: 88px;
  }
}

@media (max-width: 320px) {
  .content {
    grid-row-gap: 64px;
  }
}