.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .4s linear;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:hover {
  opacity: .5;
}

@media (max-width: 544px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}