.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

@media (max-width: 680px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}