.footer__copyright {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}