.intro__text {
  max-width: 690px;
  margin: 0 0 33px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

@media screen and (max-width: 896px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 680px) {
  .intro__title {
    max-width: 288px;
  }
}