.place__website-link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: opacity .3s linear;
}

.place__website-link:hover {
  opacity: .8;
}