.photo-grid__items {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1152px) {
  .photo-grid__items {
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 896px) {
  .photo-grid__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 544px) {
  .photo-grid__items {
    gap: 12px;
    grid-template-columns: 1fr;
  }
}