.lead__caption {
  margin: 8px 0 0 0;
  font-size: 10px;
  line-height: 14px;
  max-width: 160px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 896px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 544px) {
  .lead__caption {
    padding-left: 16px;
  }
}