.footer {
  margin: 0 auto 24px;
  padding: 0 48px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 896px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    margin: 0 0 24px;
    flex-direction: column;
    padding: 0 0 0 16px;
  }
}