.place__website {
  margin: 0 148px;
  padding: 0;
  align-self: self-end;
}

@media screen and (max-width: 1152px) {
  .place__website {
    margin: 0 48px;
  }
}

@media screen and (max-width: 896px) {
  .place__website {
    margin: 0 24px;
  }
}

@media screen and (max-width: 680px) {
  .place__website {
    margin: 0 16px;
  }
}