.place__website {
  margin: 0 148px;
  padding: 0;
  align-self: self-end;
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .place__website {
    margin: 0 48px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .place__website {
    margin: 0 24px;
  }
}

@media (max-width: 767px) {
  .place__website {
    margin: 0 16px;
  }
}