.cover__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  padding: 20px;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.cover__item::before {
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  transition: 0.5s;
}

.cover__item:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1152px) {
  .cover__item {
    min-height: 640px;
  }
}

@media screen and (max-width: 896px) {
  .cover__item {
    min-height: 480px;
  }
}

@media screen and (max-width: 568px) {
  .cover__item{
    min-height: 200px;
  }
}