.footer__list-item {
  margin: 0 18px 0 0;
  padding: 0;
  display: flex;
}

.footer__list-item:last-child {
  margin: 0;
}

@media screen and (max-width: 544px) {
  .footer__list-item {
    margin: 0 0 32px 0;
  }
}