.intro__title {
  max-width: 690px;
  margin: 0 0 40px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
}

@media screen and (max-width: 896px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 544px) {
  .intro__title {
    max-width: 288px;
    max-height: 70px;
    font-size: 32px;
    line-height: 35px;
  }
}